<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Agregar Pacientes </title>
 
     <link rel="stylesheet"   href="../public/bootstrap/css/bootstrap.css" type="text/css">
     <link rel="stylesheet" href="../public/css/add.css">
     <script src="../public/js/validar.js" ></script>
     <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
     

</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">BD GaneSalud</a>
    </nav>
    